<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

    .v-application {
      font-family: 'Lato', sans-serif !important;
    };
  </style>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>

      <!--
      Top app bar
      -->
      <v-app-bar elevation="4" app dark class="light-green">
        <v-toolbar-title>Application Finder</v-toolbar-title>
        <v-spacer></v-spacer>
        <div>
          <v-text-field
          v-model="search"
          hide-details
          prepend-icon="mdi-magnify"
          single-line
          ></v-text-field>
        </div>
      </v-app-bar>

      <!--
      App details dialog
      -->
      <v-dialog
        v-model="appSelected"
        width="400"
      >
        <v-card>
          <v-app-bar dense dark class="light-green">
            <v-btn
              icon
              @click="resetSelectedApp()"
            >
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-app-bar-title>Application Details</v-app-bar-title>
          </v-app-bar>
          <v-card>
            <v-card-text>
              <h3>Name</h3>
              {{selectedApp.name}}
            </v-card-text>

            <v-card-text>
              <h3>Category</h3>
              {{selectedApp.category}}
            </v-card-text>

            <v-card-text v-if="selectedApp.domains.length > 0">
              <h3>Domains</h3>
              <div v-for="domain in selectedApp.domains">
                {{ domain }}
              </div>
            </v-card-text>

            <v-card-text v-if="selectedApp.ports.length > 0">
              <h3>Ports</h3>
              <div v-for="port in selectedApp.ports">
                {{ port.protocol }} {{ port.port_range.start }} <span v-if="port.port_range.end">- {{ port.port_range.end }}</span>
              </div>
            </v-card-text>

            <v-card-text v-if="selectedApp.ipv4_prefixes.length > 0">
              <h3>IPv4 Prefixes</h3>
              <div v-for="prefix in selectedApp.ipv4_prefixes">
                {{ prefix }}
              </div>
            </v-card-text>

            <v-card-text v-if="selectedApp.ipv6_prefixes.length > 0">
              <h3>IPv6 Prefixes</h3>
              <div v-for="prefix in selectedApp.ipv6_prefixes">
                {{ prefix }}
              </div>
            </v-card-text>
          </v-card>
        </v-card>
      </v-dialog>

      <!--
      App config dialog
      -->
      <v-dialog
        v-model="configSelected"
        width="800"
      >
        <v-card>
          <v-toolbar dense dark class="light-green">
            <v-btn
            icon
            @click="resetConfigApp()"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Application Config</v-toolbar-title>
          </v-toolbar>
          <br>
          <v-card-text>
            <v-alert
              border="top"
              colored-border
              type="warning"
              elevation="2"
            >
              Configuration generated as a suggestion based on application details. It may be incomplete, or may conflict with existing configuration. Always test configuration in a controlled environment to make sure it has the intended results.
            </v-alert>
            <v-container fluid>

              <v-row>
                <v-text-field
                  v-model="serviceName"
                  label="Service Name"
                ></v-text-field>
              </v-row>

              <v-row>
                <v-text-field
                  v-model="parentService"
                  label="Parent Service Name"
                ></v-text-field>
              </v-row>

              <v-row>

                <v-col>
                <v-switch
                  v-model="flatConfig"
                  label="Flat"
                  dense
                ></v-switch>
                </v-col>

                <v-col v-if="selectedApp.domains.length > 0">
                <v-switch
                  v-model="configDomains"
                  label="Domains"
                  dense
                ></v-switch>
                </v-col>

                <v-col v-if="selectedApp.ipv6_prefixes.length > 0">
                <v-switch
                  v-model="configIpv6"
                  label="Prefixes(v6)"
                  dense
                ></v-switch>
                </v-col>

                <v-col v-if="selectedApp.ipv4_prefixes.length > 0">
                <v-switch
                  v-model="configIpv4"
                  label="Prefixes(v4)"
                  dense
                ></v-switch>
                </v-col>

                <v-col v-if="selectedApp.ports.length > 0">
                <v-switch
                  v-model="configPorts"
                  label="Ports"
                  dense
                ></v-switch>
                </v-col>
              </v-row>
              <br>
            </v-container>
              <v-card dark>
                <v-snackbar v-model="textCopied" :timeout="timeout" top right><i class="material-icons">check_circle</i>Config copied to clipboard!</v-snackbar>
                <v-btn fab right top class="light-green" absolute class="white--text" data-clipboard-action="copy" data-clipboard-target="#configText"><i class="material-icons">file_copy</i></v-btn>
                <v-container style="overflow-x:auto; white-space: nowrap;">
                  <pre id="configText">
<span v-if="!flatConfig">config
  authority

    service             {{serviceName}}.{{parentService}}
      name              {{serviceName}}.{{parentService}}
      description       "{{selectedApp.name}}"<span v-if="configPorts" v-for="transport in selectedApp.ports"><span v-if="transport.protocol === 'tcp' || transport.protocol === 'udp'">
      transport         {{transport.protocol}}
        protocol        {{transport.protocol}}
        port-range      {{transport.port_range.start}}
          start-port    {{transport.port_range.start}}
          end-port      <span v-if="transport.port_range.end">{{transport.port_range.end}}</span><span v-else>{{transport.port_range.start}}</span>
        exit
      exit</span><span v-if="transport.protocol === 'any'">
      transport         tcp
        protocol        tcp
        port-range      {{transport.port_range.start}}
          start-port    {{transport.port_range.start}}
          end-port      <span v-if="transport.port_range.end">{{transport.port_range.end}}</span><span v-else>{{transport.port_range.start}}</span>
        exit
      exit
      transport         udp
        protocol        udp
        port-range      {{transport.port_range.start}}
          start-port    {{transport.port_range.start}}
          end-port      <span v-if="transport.port_range.end">{{transport.port_range.end}}</span><span v-else>{{transport.port_range.start}}</span>
        exit
      exit</span></span><span v-if="configDomains && selectedApp.domains.length > 0">
      application-name  {{selectedApp.appKey}}</span><span v-if="configDomains" v-for="domain in selectedApp.domains">
      domain-name       *.{{domain}}
      domain-name       {{domain}}</span><span v-if="configIpv4 && selectedApp.ipv4_prefixes.length > 0" v-for="address in selectedApp.ipv4_prefixes">
      address           {{address}}</span><span v-if="configIpv6 && selectedApp.ipv6_prefixes.length > 0" v-for="address in selectedApp.ipv6_prefixes">
      address           {{address}}</span>
    exit
    <span v-if="configDomains && selectedApp.domains.length > 0">
    dns-app-id
    custom-apps  {{selectedApp.appKey}}
      name         {{selectedApp.appKey}}<span v-for="domain in selectedApp.domains">
      domain-name       *.{{domain}}
      domain-name       {{domain}}</span>
    exit</span>
  exit
exit</span><span v-if="flatConfig">config authority service {{serviceName}}.{{parentService}} name {{serviceName}}.{{parentService}}
config authority service {{serviceName}}.{{parentService}} description "{{selectedApp.name}}"<span v-if="configPorts" v-for="transport in selectedApp.ports"><span v-if="transport.protocol === 'tcp' || transport.protocol === 'udp'">
config authority service {{serviceName}}.{{parentService}} transport {{transport.protocol}} protocol {{transport.protocol}}
config authority service {{serviceName}}.{{parentService}} transport {{transport.protocol}} port-range {{transport.port_range.start}} start-port {{transport.port_range.start}}
config authority service {{serviceName}}.{{parentService}} transport {{transport.protocol}} port-range {{transport.port_range.start}} end-port <span v-if="transport.port_range.end">{{transport.port_range.end}}</span><span v-else>{{transport.port_range.start}}</span></span><span v-if="transport.protocol === 'any'">
config authority service {{serviceName}}.{{parentService}} transport tcp protocol tcp
config authority service {{serviceName}}.{{parentService}} transport tcp port-range {{transport.port_range.start}} start-port {{transport.port_range.start}}
config authority service {{serviceName}}.{{parentService}} transport tcp port-range {{transport.port_range.start}} end-port <span v-if="transport.port_range.end">{{transport.port_range.end}}</span><span v-else>{{transport.port_range.start}}</span>
config authority service {{serviceName}}.{{parentService}} transport udp protocol udp
config authority service {{serviceName}}.{{parentService}} transport udp port-range {{transport.port_range.start}} start-port {{transport.port_range.start}}
config authority service {{serviceName}}.{{parentService}} transport udp port-range {{transport.port_range.start}} end-port <span v-if="transport.port_range.end">{{transport.port_range.end}}</span><span v-else>{{transport.port_range.start}}</span></span></span><span v-if="configDomains && selectedApp.domains.length > 0">
config authority service {{serviceName}}.{{parentService}} application-name {{selectedApp.appKey}}</span><span v-if="configDomains" v-for="domain in selectedApp.domains">
config authority service {{serviceName}}.{{parentService}} domain-name *.{{domain}}
config authority service {{serviceName}}.{{parentService}} domain-name {{domain}}</span><span v-if="configIpv4 && selectedApp.ipv4_prefixes.length > 0" v-for="address in selectedApp.ipv4_prefixes">
config authority service {{serviceName}}.{{parentService}} address {{address}}</span><span v-if="configIpv6 && selectedApp.ipv6_prefixes.length > 0" v-for="address in selectedApp.ipv6_prefixes">
config authority service {{serviceName}}.{{parentService}} address {{address}}</span>
<span v-if="configDomains && selectedApp.domains.length > 0">
config authority dns-app-id custom-apps {{selectedApp.appKey}} name {{selectedApp.appKey}}<span v-for="domain in selectedApp.domains">
config authority dns-app-id custom-apps {{selectedApp.appKey}} domain-name  *.{{domain}}
config authority dns-app-id custom-apps {{selectedApp.appKey}} domain-name  {{domain}}</span></span></span></pre>
                </v-container>
              </v-card>
          </v-card-text>
        </v-card>
      </v-dialog>

      <v-main>

        <v-container>
          <div>
            <v-data-table
            :headers="headers"
            :items="apps"
            item-key="name"
            :items-per-page="25"
            :search="search"
            :loading="loading"
            loading-text="Loading... Please wait"
            mobile-breakpoint="0"
            :footer-props="{
              showFirstLastPage: true,
              'items-per-page-text':'Applications per page',
              'items-per-page-options': [10,25,50]
            }"
            >
              <template v-slot:item="{ item }">
                <tr>
                  <td>{{item.name}}</td>
                  <td>
                    <v-btn rounded small @click="appDetails(item)">Details</v-btn>
                  </td>
                  <td>
                    <v-btn rounded small @click="appConfig(item)">Config</v-btn>
                  </td>
                </tr>
              </template>

            </v-data-table>
          </div>

        </v-container>
      </v-main>
    </v-app>
  </div>
  <script>

    var clipboard = new ClipboardJS('.v-btn')

    const model = {
        "loading": true,
        "search": '',
        "headers": [
          {
            text: "Name",
            value: "name"
          },
          {
            text: ""
          },
          {
            text: ""
          }
        ],
        "apps": [],
        "selectedApp": {
          name: "",
          category: "",
          domains: [],
          ipv4_prefixes: [],
          ipv6_prefixes: [],
          ports: []
        },
        "parentService": "internet",
        "serviceName": "",
        "flatConfig": false,
        "configDomains": true,
        "configPorts": false,
        "configIpv4": false,
        "configIpv6": false,
        "appSelected": false,
        "textCopied": false,
        "timeout": 4000,
        "configSelected": false
      }

    new Vue({
      el: '#app',
      vuetify: new Vuetify({
        theme: {
          dark: false,
          themes: {
            light: {
              primary: '#84B135',
              secondary: '#0096A4',
              background: '#84B135'
            },
            dark: {
              primary: '#84B135',
              secondary: '#0096A4',
              background: '#84B135'
            }
          }
        }
      }),
      data: model,
      methods: {
        fetchData(){
          const appPromise = fetch('./application-classifications.json')
          .then(response => {
            console.log('got app data')
            response.json().then(data => {
              Object.keys(data).forEach(appKey => {
                data[appKey].appKey = appKey
              })
              this.apps = Object.values(data)
              this.loading = false
            })
          })
        },
        resetSelectedApp(){
          this.appSelected = false
          this.selectedApp ={
            name: "",
            appKey: "",
            category: "",
            domains: [],
            ipv4_prefixes: [],
            ipv6_prefixes: [],
            ports: []
          } 
        },
        resetConfigApp(){
          this.configSelected = false
          this.selectedApp ={
            name: "",
            appKey: "",
            category: "",
            domains: [],
            ipv4_prefixes: [],
            ipv6_prefixes: [],
            ports: []
          } 
        },
        selectApp(app){
          this.selectedApp.name = app.name
          this.selectedApp.category = app.category
          this.selectedApp.appKey = app.appKey
          this.serviceName = app.appKey

          if (app.domains && Array.isArray(app.domains)) {
            this.selectedApp.domains = app.domains
          }

          if (app.ipv4_prefixes && Array.isArray(app.ipv4_prefixes)) {
            this.selectedApp.ipv4_prefixes = app.ipv4_prefixes
          }

          if (app.ipv6_prefixes && Array.isArray(app.ipv6_prefixes)) {
            this.selectedApp.ipv6_prefixes = app.ipv6_prefixes
          }

          if (app.ports && Array.isArray(app.ports)) {
            this.selectedApp.ports = app.ports
          }
        },
        appDetails(app){
          this.appSelected = true
          this.selectApp(app)
        },
        appConfig(app){
          this.configSelected = true
          this.selectApp(app)
        }
      },
      created() {
        this.fetchData();
      }
    })

    clipboard.on('success', ()=> {
      console.log('text copied.')
      model.textCopied = true
    })
  </script>
</body>
</html>